LOCAL_VIDEO_ROOT=/Volumes/2T/zhuyu
STORAGE_SOURCE=r2
R2_ACCOUNT_ID=replace_with_cloudflare_account_id
R2_ACCESS_KEY_ID=replace_with_r2_access_key_id
R2_SECRET_ACCESS_KEY=replace_with_r2_secret_access_key
R2_BUCKET=zhuyu-video
R2_PREFIX=
