NEXT_PUBLIC_CONTENT_SOURCE=local
JELLYFIN_BASE_URL=http://127.0.0.1:8096
NEXT_PUBLIC_JELLYFIN_PUBLIC_URL=http://100.x.x.x:8096
JELLYFIN_API_KEY=replace_with_jellyfin_api_key
JELLYFIN_USER_ID=replace_with_jellyfin_user_id
